@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');

h1, h2, h3, p{
    font-family: 'Raleway', sans-serif;
}

h1{
    font-size: 32pt;
    font-weight: bold;
    letter-spacing: 0.02em;
}

h2{
    font-size: 18pt;
    letter-spacing: 0.05em;
}

p{
    /* font-size: 16pt; */
    letter-spacing: 0.02em;
    line-height: 1.5em;
}
