.blue-white {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

.changed {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
}

.font {
    font-size: 50px;
}